<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de contacto</title>
  </head>
  <body>
    <form method="POST" action="/">
      {% csrf_token %}
      <label for="dni">DNI:</label>
      <input type="text" id="dni" name="dni" required /><br />

      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required /><br />

      <label for="apellido">Apellido:</label>
      <input type="text" id="apellido" name="apellido" required /><br />

      <label for="fecha_nacimiento">Fecha de nacimiento:</label>
      <input
        type="date"
        id="fecha_nacimiento"
        name="fecha_nacimiento"
        required
      /><br />

      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required /><br />

      <label for="telefono">Telefono:</label>
      <input type="text" id="telefono" name="telefono" required /><br />

      <label for="sexo">Sexo:</label>
      <select id="sexo" name="sexo">
        {% for key, value in persona.sexos %}
        <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
      </select>

      <label for="ciudad">Ciudad:</label>
      <select id="ciudad" name="ciudad">
        {% for ciudad in ciudades %} {% if forloop.first %}
        <option value="{{ ciudad.codigo }}" selected>
          {{ ciudad.nombre }}
        </option>
        {% else %}
        <option value="{{ ciudad.codigo }}">{{ ciudad.nombre }}</option>
        {% endif %} {% endfor %}
      </select>

      <input type="submit" value="Guardar" />
    </form>
  </body>
</html>
