{% extends 'base.html' %}
<!---->
{% block titulo %} Contactanos {% endblock titulo %} {% block cuerpo %}
<h1>Contáctenos</h1>
<form action="/contactar/" method="POST">
  {% csrf_token %}
  <p>Asunto: <input type="text" class="form-control" name="txtAsunto" /></p>
  <p>Email: <input type="email" class="form-control" name="txtEmail" /></p>
  <p>
    Mensaje:
    <textarea
      name="txtMensaje"
      cols="30"
      rows="5"
      style="resize: none"
    ></textarea>
  </p>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock cuerpo %}
