
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de contacto</title>
</head>
<body>
    <form>
        <div class="mb-3">
          <label for="email" class="form-label">Email </label>
          <input type="email" class="form-control" id="email" aria-describedby="email">
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre </label>
            <input type="text" class="form-control" id="nombre" aria-describedby="nombre">
          </div>
          <div class="mb-3">
            <label for="apellido" class="form-label">Apellido </label>
            <input type="text" class="form-control" id="apellido" aria-describedby="apellido">
          </div>
          <div class="mb-3">
            <label for="telefono" class="form-label">Telefono </label>
            <input type="text" class="form-control" id="telefono" aria-describedby="telefono">
          </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>